/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .navbar {
        padding: 15px 0px;
    }

    .banner_taital {
        font-size: 40px;
        padding-top: 0px;
    }

    .banner_text {
        font-size: 15px;
    }

    .nice-select {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 20px;
    }

    .select_box_main {
        padding: 20px 0px;
    }

    .food_text {
        font-size: 15px;
    }

    .services_section_2::before{
        display: none;
    }

    .services_section_2::after{
        display: none;
    }

    .more_text {
        font-size: 12px;
    }

    .about_section {
        background-size: 100% 100%;
    }

    .about_taital_main {
        padding: 40px 0px;
    }

    .client_box {
        width: 95%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .navbar {
        padding: 15px 0px;
    }

    .banner_taital {
        font-size: 40px;
        padding-top: 0px;
    }

    .banner_text {
        font-size: 15px;
    }

    .nice-select {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 20px;
    }

    .select_box_main {
        padding: 20px 0px;
    }

    .food_img{
        margin-top: 20px;
    }
    
    .services_section_2::before{
        display: none;
    }

    .services_section_2::after{
        display: none;
    }

    .about_section {
        background-size: 100% 100%;
    }

    .about_taital_main {
        padding: 40px 0px;
    }

    .about_text {
        font-size: 14px;
    }

    .readmore_bt {
        margin-top: 20px;
    }

    .about_img img {
        height: 450px;
    }

    .burger_text {
        font-size: 22px;
    }

    .lorem_text {
        font-size: 12px;
    }

    .client_box {
        width: 95%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .navbar {
        padding: 15px 0px;
    }

    .banner_taital {
        font-size: 40px;
        padding-top: 20px;
    }

    .banner_text {
        font-size: 15px;
    }
    
    .nice-select {
        margin-top: 20px;
    }

    .services_taital {
        font-size: 26px;
    }

    .services_text {
        font-size: 15px;
    }

    .services_section_2 {
        padding-top: 30px;
    }

    .food_img{
        margin-top: 30px;
    }

    .food_text {
       font-size: 17px;
    }

    .more_text {
        font-size: 14px;
    }

    .services_section ul .nav-link {
        width: auto;
        padding: 12px 17px 0px 0px;
    }

    .services_section_2::before{
        display: none;
    }

    .services_section_2::after{
        display: none;
    }

    .about_section{
        background-size: cover;
    }

    .about_section .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .blog_taital {
        font-size: 25px;
    }

    .testimonial_taital_2 {
        font-size: 26px;
    }

    .client_box {
        width: 95%;
        padding: 0px 10px 50px 10px;
    }

    .client_img {
        width: 93%;
    }

    .footer_section{
        padding-top: 70px;
    }

    .useful_text {
        margin-top: 20px;
    }
}

@media (max-width: 575px) {

    .navbar {
        padding: 15px 0px;
    }

    .banner_taital {
        font-size: 40px;
        padding-top: 20px;
    }

    .banner_text {
        font-size: 15px;
    }
    
    .nice-select {
        margin-top: 20px;
    }

    .services_taital {
        font-size: 26px;
    }

    .services_text {
        font-size: 15px;
    }

    .services_section_2 {
        padding-top: 30px;
    }

    .food_img{
        margin-top: 30px;
    }

    .services_section_2::before{
        display: none;
    }

    .services_section_2::after{
        display: none;
    }

    .about_section{
        background-size: cover;
    }

    .about_section .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .blog_taital {
        font-size: 25px;
    }

    .testimonial_taital_2 {
        font-size: 26px;
    }

    .client_box {
        width: 95%;
        padding: 0px 10px 50px 10px;
    }

    .client_img {
        width: 93%;
    }

    .footer_section{
        padding-top: 70px;
    }

    .useful_text {
        margin-top: 20px;
    }

}
